<div class="content" role="main">
    <div>
      <h1>Акции</h1>
    </div>
    <div>
      <table>
        <tr>
          <td>
            <img src="/assets/picSale.jpg" width="300px">
          </td>
          <td>
            <h2>Калифорния Бесплатно</h2>
            Калифорния 10 кусочков бесплатно при покупке от 890 руб. (не действует если в заказе присутствует сет)
            работает на доставку и на отделах Classic Sushi&nbsp;&nbsp; <br>
            Не суммируется с другими акциями.
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <td>
            <h2>Филадельфия Бесплатно</h2>
            <div>
              Филадельфия классическая 10 кусочков -&nbsp;&nbsp;Бесплатно&nbsp;&nbsp;при покупке от 1350 руб. (не
              действует
              если в заказе присутствует сет) работает на доставку и на отделах Classic Sushi.<br>
              Не суммируется с другими акциями.
            </div>
          </td>
          <td>
              <img src="/assets/picSale2.png"  width="300px">
          </td>
        </tr>
      </table>
      <table>
        <tr>
            <td>
                <img src="/assets/picSale.jpg"  width="300px">
            </td>
            <td>
              <h2>2+2</h2>
              <div>
                  Акция 2+2 (2 коробочки Лапши вок&nbsp;&nbsp;или Тяхан, либо риса с курицей и Ананасами) + морс 2 бутылки за
                  450 руб. Действует на заказы на отделе или самовывоз, не работает на доставку, не действует на вок с
                  морепродуктами. Не действует на вок конструктор.
              </div>
            </td>
          </tr>
        </table>
        <table>
          <tr>
            <td>
              <h2>Скидки 15% именинникам</h2>
              <div>
                  Всем именинникам Classic Sushi дарит скидку 15 % на всё меню, Скидка 3 дня ДО и 3 дня ПОСЛЕ дня рождения ( при
                  предъявлении паспорта или свидетельства о рождении) обязательно показывать подтверждающий документ курьеру.<br>
              </div>
            </td>
            <td>
              <img src="/assets/picSale2.png"  width="300px">
            </td>
            </tr>
      </table>
    </div>
</div>